body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 30px;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 10px;
}

header{
  width: 500px;
  display: flex;
  margin-inline: auto;
}